<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/style.css" />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Berita</title>
  </head>
  <body>
    <%- include('../komponen/navMhs');%>
    <div class="heading" style="background: url(/img/rommm.jpg) no-repeat">
      <h1>Kumpulan Berita</h1>
    </div>
    <section class="packages">
      <h1 class="heading-title">Berita</h1>
      <div class="box-container">
        <% beritas.forEach((berita, index) => { %>
        <div class="box">
          <div class="image">
            <img src="/<%= berita.userId %>/<%= berita.gambar %>" alt="" />
          </div>
          <div class="content">
            <h3><%= berita.judul %></h3>
            <p><%= berita.isi_berita %></p>
            <a href="detailNews/<%= berita.idNews%>" class="btn">Detail</a>
          </div>
        </div>
        <% }) %>
      </div>
      <div class="load-more"><span class="btn">load more</span></div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
