<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edit Profile</title>
  </head>
  <body class="editprofil">
    <div class="editProfile">
      <h1>Edit Profile</h1>
      <form action="/editP" method="POST" class="edit-form" id="editP">
        <label for="nama">Nama</label>
        <input type="text" id="nama" name="nama" placeholder="<%= mhs.nama%>" />

        <label for="nim">NIM</label>
        <input
          type="text"
          id="nim"
          name="nim"
          placeholder="<%= mhs.nim%>"
          readonly
        />

        <label for="email">Email UNAND</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="<%= mhs.email%>"
        />

        <label for="jurusan">Jurusan</label>
        <input
          type="jurusan"
          id="jurusan"
          name="jurusan"
          placeholder="<%= mhs.jurusan%>"
        />
        <div class="tombol">
          <a href="profil" class="back">Kembali</a>
          <button type="submit" value="editProfile">Submit</button>
        </div>
      </form>
    </div>
    <script>
      document
        .getElementById("editP")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const formData = new FormData(this);
          try {
            const response = await fetch("/editP", {
              method: "POST",
              body: formData,
            });

            if (response.ok) {
              Swal.fire({
                icon: "success",
                title: "Success",
                text: "Informasi tersimpan",
                confirmButtonText: "OK",
              }).then(() => {
                window.location.href = "/profil";
              });
            } else {
              const errorData = await response.json();
              Swal.fire({
                icon: "error",
                title: "Invalid Data",
                text: errorData.message,
                confirmButtonText: "OK",
              });
            }
          } catch (error) {
            console.error("Error:", error);
            Swal.fire({
              icon: "error",
              title: "Error",
              text: "Terjadi kesalahan pada server",
              confirmButtonText: "OK",
            });
          }
        });
    </script>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("organisasi_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      socket.on("organisasi_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "organisasi") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
