<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>

  <body>
    <%- include('../komponen/navMhs');%>

    <section class="home">
      <div class="swiper home-slider">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide slide"
            style="background: url(/img/fti8.jpg) no-repeat"
          >
            <div class="content">
              <span>Mewujudkan Potensi Mahasiswa FTI</span>
              <h3>Beragam Organisasi, Peluang Tak Terbatas</h3>
            </div>
          </div>
          <div
            class="swiper-slide slide"
            style="background: url(/img/fti10.jpg) no-repeat"
          >
            <div class="content">
              <span>Pusat Kreativitas dan Kolaborasi Mahasiswa FTI</span>
              <h3>Organisasi yang Membangun, Kegiatan yang Menginspirasi</h3>
            </div>
          </div>
          <div
            class="swiper-slide slide"
            style="background: url(/img/fti7.jpg) no-repeat"
          >
            <div class="content">
              <span>Inspirasi, Inovasi, Integrasi</span>
              <h3>Ayo Berkarya, Ayo Beraksi!</h3>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>

    <section class="home-about">
      <div class="image">
        <img src="/img/fti2.jpg" alt="" />
      </div>
      <div class="content">
        <h3>tentang website</h3>
        <p>
          Selamat datang di Sistem Pengelolaan Organisasi dan Kegiatan Mahasiswa
          Fakultas Teknologi Informasi (FTI)! Kami menyediakan platform yang
          terintegrasi untuk mempermudah manajemen dan koordinasi semua
          aktivitas dan organisasi mahasiswa di FTI. Sistem ini dirancang untuk
          membantu mahasiswa dalam mencari dan mengatur kegiatan, mengelola
          keanggotaan, serta mengkoordinasikan acara dengan lebih efisien dan
          efektif. Dengan fitur yang user-friendly, platform ini memungkinkan
          mahasiswa untuk tetap terinformasi dan terlibat dalam berbagai
          kegiatan, sekaligus memfasilitasi komunikasi yang lancar antara
          anggota dan pengurus organisasi. Mari bersama-sama kita tingkatkan
          kualitas dan keterlibatan dalam kegiatan mahasiswa dengan menggunakan
          sistem ini!
        </p>
      </div>
    </section>

    <% if (org || kgt) { %>
    <section class="home-latest">
      <h2>Organisasi dan Kegiatan Terbaru</h2>
      <div class="content">
        <div class="box">
          <% org.forEach((orga) => { %>
          <div class="isian">
            <h3><%= orga.namaOrga %></h3>
            <p><%= orga.deskripsi %></p>
            <a href="/org" class="btn">read more</a>
          </div>
          <% }) %>
        </div>
        <div class="box">
          <% kgt.forEach((kegiatan) => { %>
          <div class="isian">
            <h3><%= kegiatan.namaKegiatan %></h3>
            <p><%= kegiatan.deskripsi %></p>
            <a href="/activity" class="btn">read more</a>
          </div>
          <% }) %>
        </div>
      </div>
    </section>
    <% } %>

    <section class="kalender">
      <div class="kalendar" id="calendar"></div>
      <div class="image"></div>
    </section>

    <% if (berita) { %>
    <section class="latest-news">
      <div class="content">
        <h3>informasi terkini</h3>
        <h2><%= berita.judul %></h2>
        <p><%= berita.isi_berita %></p>
        <a href="/berita" class="btn">read more</a>
      </div>
      <div class="image">
        <img src="/<%= berita.userId %>/<%= berita.gambar %>" alt="" />
      </div>
    </section>
    <% } %>

    <section class="home-offer">
      <div class="content">
        <h3 style="font-size: 2.2rem">
          segera ajukan organisasi, publikasi, dan kegiatan anda!
        </h3>
      </div>
      <div class="box">
        <div class="isian">
          <h3>Pengajuan Publikasi</h3>
          <a href="/daftarnews" class="btn">Ajukan Publikasi!</a>
        </div>
        <div class="isian">
          <h3>Pengajuan Kegiatan</h3>
          <a href="/daftarkgt" class="btn">Ajukan Kegiatan!</a>
        </div>
        <div class="isian">
          <h3>Pengajuan Organisasi</h3>
          <a href="/daftarorg" class="btn">Ajukan Organisasi!</a>
        </div>
      </div>
    </section>
    <section class="home-contact">
      <div class="content">
        <h2>Butuh Bantuan? Silakan tanyakan langsung</h2>
        <a
          href="mailto:ftiorganizerhub@unand.ac.id?subject=Halo%20Saya%20ingin%20bertanya%20Seputar%20Website%20FTI%20OrganizerHub"
          style="text-transform: lowercase"
          target="_blank"
          class="btn"
        >
          <i class="bx bx-envelope"></i> Contact Us</a
        >
      </div>
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", async function () {
        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
          events: async function (fetchInfo, successCallback, failureCallback) {
            try {
              const response = await fetch("/api/kegiatan");
              const kegiatan = await response.json();

              const events = kegiatan.map((item) => ({
                title: item.namaKegiatan,
                start: item.tanggalMulai,
                end: item.tanggalSelesai,
              }));

              successCallback(events);
            } catch (error) {
              console.error("Error fetching events:", error);
              failureCallback(error);
            }
          },
          displayEventTime: false,
        });

        calendar.render();
      });
    </script>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("organisasi_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      socket.on("organisasi_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "organisasi") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
