<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Profile</title>
  </head>
  <body class="body-profile">
    <div class="isi-profile">
      <header>
        <div class="brandLogo">
          <a href="/home" class="home"><</a>
          <figure>
            <img
              src="../../img/ftilogo.png"
              alt="logo"
              width="40px"
              height="auto"
            />
          </figure>
          <span>FTIOrganizerhub</span>
        </div>
      </header>
      <section class="userProfile card">
        <div class="profile">
          <figure>
            <img
              src="../../img/fti.jpg"
              alt="profile"
              width="200px"
              height="200px"
            />
          </figure>
          <a href="editProfile" class="btn" style="margin-left: 5rem"
            ><i class="bx bxs-edit-alt"></i> Edit Profile</a
          >
        </div>
      </section>
      <section class="userDetails card">
        <div class="userName">
          <div class="info-box">
            <span>Nama</span>
            <h1 class="name"><%= mhs.nama %></h1>
          </div>
          <hr />
          <div class="info-box">
            <span>NIM</span>
            <h1 class="NIM"><%= mhs.nim %></h1>
          </div>
          <hr />
          <div class="info-box">
            <span>Jurusan</span>
            <h1 class="jurusan"><%= mhs.jurusan %></h1>
          </div>
          <hr />
          <div class="info-box">
            <span>Email</span>
            <h1 class="name"><%= mhs.email %></h1>
          </div>
          <hr />
          <div class="pw">
            <a href="changepassword" class="btn"
              ><i class="bx bxs-key"></i> Ubah Password</a
            >
          </div>
        </div>
      </section>
    </div>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("organisasi_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      socket.on("organisasi_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "organisasi");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "organisasi") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
