<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/admorg.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Data Anggota - <%= orga.namaOrga%></title>
  </head>

  <body>
    <%- include('../komponen/navOrg');%>
    <div class="heading" style="background: url(/img/fti11.jpg) no-repeat">
      <h1>Data Anggota</h1>
    </div>
    <section class="anggota">
      <h1 class="heading-title">Anggota <%= orga.namaOrga %></h1>
      <div class="container">
        <div class="table">
          <div class="button-container">
            <a href="/tambahAnggota/<%= orga.idOrga%>" class="add-button-link">
              <button class="add-button">
                <i class="bx bx-plus"></i>Tambah Data
              </button></a
            >
          </div>
          <table>
            <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>Jabatan</th>
                <th><i class="fa-brands fa-whatsapp"></i></th>
                <th>Jenis Kelamin</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% anggota.forEach((anggota, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= anggota.nama %></td>
                <td><%= anggota.nim %></td>
                <td><%= anggota.jabatan %></td>
                <td><%= anggota.noHp %></td>
                <td>
                  <% if (anggota.jenisKelamin === "L") { %> Laki-Laki <% } else
                  if (anggota.jenisKelamin === "P") { %> Perempuan <% } %>
                </td>
                <td>
                  <div class="action-buttons">
                    <a
                      href="/editAnggota/<%= anggota.idPengurus %>"
                      class="action-button-edit"
                      >Edit</a
                    >
                    <form
                      action="/deleteanggota/<%= anggota.idPengurus %>"
                      method="post"
                    >
                      <button
                        class="action-button-hapus"
                        onclick="confirmDelete('<%= anggota.idPengurus %>', '<%= orga.idOrga %>')"
                      >
                        Hapus
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <script>
      function confirmDelete(idPengurus, idOrga) {
        Swal.fire({
          title: "Apakah Anda Yakin Ingin Menghapus Anggota ini?",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Ya",
          cancelButtonText: "Tidak",
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Berhasil Dihapus!",
              icon: "success",
              confirmButtonText: "OK",
            }).then((result) => {
              if (result.isConfirmed) {
                window.location = "/anggota/" + idOrga + "?berhasil-dihapus";
              }
            });
          }
        });
      }
    </script>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
