<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Berita</title>
  </head>
  <body>
    <%- include('../komponen/navOrg');%>
    <section class="detail-berita">
      <div class="main-content">
        <div class="box-container">
          <div class="box">
            <div class="head-detail">
              <p class="teks"><%= beritas.Kategori.namaKategori %></p>
              <h3><%= beritas.judul %></h3>
              <p class="tanggal">
                <i class="bx bxs-calendar-alt"></i> <%=
                formatDate(beritas.tanggalPublish) %>
              </p>
            </div>
            <div class="image">
              <img src="/<%= beritas.userId %>/<%= beritas.gambar %>" alt="" />
            </div>
            <div class="content">
              <p class="isi"><%= beritas.isi_berita %></p>
              <p class="penulis">Penulis: <%= beritas.penulis %></p>
            </div>
          </div>
        </div>
        <div class="komen">
          <h3 class="com">Komentar</h3>
          <% komentar.forEach((komentar) => { %>
          <div class="komentar">
            <p class="name">
              User <span><%= formatDate(komentar.tanggal) %></span>
            </p>
            <p class="isi-komen"><%= komentar.komentar %></p>
          </div>
          <%})%>
          <div class="comment">
            <form action="/komentar/<%= beritas.idNews%>" method="post">
              <h3>Beri Komentar</h3>
              <div class="box-komen">
                <label for="komentar">Isi Komentar</label>
                <textarea type="text" id="komentar" name="komentar"></textarea>
                <label for="namaPengirim">Nama</label>
                <input
                  type="text"
                  id="namaPengirim"
                  name="namaPengirim"
                  placeholder="<%= orga.namaOrga || 'Mahasiswa' %>"
                />
              </div>
              <div class="button-container">
                <input type="submit" class="btn" value="Post Komentar" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <h3>Informasi Lainnya</h3>
        <% news.forEach((berita) => { %>
        <div class="related-item">
          <div class="related-image">
            <a href="/detailpublish/<%= berita.idNews%>">
              <img src="/<%= berita.userId %>/<%= berita.gambar %>" alt=""
            /></a>
          </div>
          <div class="related-info">
            <a href="/detailpublish/<%= berita.idNews%>"
              ><p class="related-title"><%= berita.judul %></p></a
            >
            <p class="related-date"><%= formatDate(berita.tanggalPublish) %></p>
          </div>
        </div>
        <% }) %>
      </aside>
    </section>
    <script src="/js/script.js"></script>
  </body>
</html>
