<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Berita</title>
  </head>
  <body>
    <%- include('../komponen/navOrg');%>
    <section class="detail-berita">
      <div class="main-content">
        <div class="box-container">
          <div class="box">
            <div class="head-detail">
              <p class="teks"><%= orga.lingkupOrganisasi %></p>
              <h3><%= orga.namaOrga %></h3>
              <p class="tanggal">
                <i class="bx bxs-calendar-alt"></i> <%=
                formatDate(orga.tanggalBerdiri) %>
              </p>
            </div>
            <div class="image">
              <img src="/<%= orga.userId %>/<%= orga.logo %>" alt="" />
            </div>
            <div class="content">
              <p class="isi"><%= orga.deskripsi %></p>
              <p class="penulis">Ketua: <%= orga.namaKetua %></p>
              <p class="profil">Profil Organisasi:</p>
              <p class="suratrek">Surat Rekomendasi dari Pihak Kampus:</p>
            </div>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <h3>Organisasi Lainnya</h3>
        <% organisasi.forEach((organisasis) => { %>
        <div class="related-item">
          <div class="related-image">
            <a href="/detailorg/<%= organisasis.idOrga%>">
              <img
                src="/<%= organisasis.userId %>/<%= organisasis.logo %>"
                alt=""
            /></a>
          </div>
          <div class="related-info">
            <a href="/detailpublish/<%= organisasis.idOrga%>"
              ><p class="related-title"><%= organisasis.namaOrga %></p></a
            >
            <p class="related-date">
              <%= formatDate(organisasis.tanggalBerdiri) %>
            </p>
          </div>
        </div>
        <% }) %>
      </aside>
    </section>
    <script src="/js/script.js"></script>
  </body>
</html>
