<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/admorg.css" />
    <title>Edit Profile Organisasi</title>
  </head>
  <body class="editprofil">
    <div class="editProfile">
      <h1>Edit Profile</h1>
      <form
        action="/editorga/<%= org.idOrga %>"
        method="POST"
        class="edit-form"
        enctype="multipart/form-data"
      >
        <label for="namaOrga">Nama Organisasi</label>
        <input
          type="text"
          id="namaOrga"
          name="namaOrga"
          placeholder="<%= org.namaOrga || 'masukan nama organisasi' %>"
        />

        <label for="deskripsi">Deskripsi Organisasi</label>
        <textarea
          type="deskripsi"
          id="deskripsi"
          name="deskripsi"
          placeholder="<%= org.deskripsi || 'masukan deskripsi organisasi' %>"
        ></textarea>

        <label for="lingkupOrganisasi">Lingkup Organisasi</label>
        <input
          type="text"
          id="lingkupOrganisasi"
          name="lingkupOrganisasi"
          placeholder="<%= org.lingkupOrganisasi || 'masukan lingkup organisasi' %>"
        />

        <label for="namaKetua">Nama Ketua</label>
        <input
          type="text"
          id="namaKetua"
          name="namaKetua"
          placeholder="<%= org.namaKetua || 'masukan nama ketua' %>"
        />

        <label for="nimKetua">NIM Ketua</label>
        <input
          type="text"
          id="nimKetua"
          name="nimKetua"
          placeholder="<%= org.nimKetua || 'masukan nim ketua' %>"
        />

        <label for="tanggalBerdiri">Tanggal Berdiri</label>
        <input type="date" id="tanggalBerdiri" name="tanggalBerdiri" />

        <label for="logo">Logo</label>
        <input type="file" id="logo" name="logo" accept="image/*" />

        <div class="tombol">
          <a href="/orga" class="back">Kembali</a>
          <button type="submit" value="editProfile">Submit</button>
        </div>
      </form>
    </div>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
