<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edit Data Pengurus</title>
  </head>
  <body>
    <section class="add-news">
      <div class="containert">
        <h2>Edit Data Pengurus</h2>
        <form
          action="/editPengurus/<%= anggota.idPengurus %>"
          method="post"
          id="beritaForm"
        >
          <div class="box">
            <label for="nama">Nama</label>
            <input
              type="text"
              id="nama"
              name="nama"
              placeholder="<%= anggota.nama %>"
            />

            <label for="nim">NIM</label>
            <input id="nim" name="nim" placeholder="<%= anggota.nim %>" />

            <label for="jabatan">Jabatan</label>
            <input
              type="text"
              id="jabatan"
              name="jabatan"
              placeholder="<%= anggota.jabatan %>"
            />

            <label for="noHp">No. HP</label>
            <input
              type="text"
              id="noHp"
              name="noHp"
              placeholder="<%= anggota.noHp %>"
            />

            <label for="jenisKelamin">Jenis Kelamin</label>
            <select id="jenisKelamin" name="jenisKelamin">
              <option value="" disabled selected hidden>
                ---Pilih Jenis Kelamin---
              </option>
              <option value="L">Laki-Laki</option>
              <option value="P">Perempuan</option>
            </select>
          </div>
          <div class="button-containert">
            <input type="submit" value="Simpan" />
            <a href="/anggota/<%= orga.idOrga %>">Batal</a>
          </div>
        </form>
      </div>
    </section>
    <script>
      document
        .getElementById("beritaForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const formData = new FormData(this);
          const object = {};
          formData.forEach((value, key) => (object[key] = value));
          const json = JSON.stringify(object);
          try {
            const response = await fetch(
              "/editPengurus/<%= anggota.idPengurus %>",
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: json,
              }
            );

            if (response.ok) {
              const data = await response.json();
              Swal.fire({
                icon: "success",
                title: "Success",
                text: data.message,
                confirmButtonText: "OK",
              }).then(() => {
                window.location.href = "/anggota/<%= orga.idOrga %>";
              });
            } else {
              const errorData = await response.json();
              Swal.fire({
                icon: "error",
                title: "Invalid Data",
                text: errorData.message,
                confirmButtonText: "OK",
              });
            }
          } catch (error) {
            console.error("Error:", error);
            Swal.fire({
              icon: "error",
              title: "Error",
              text: "Terjadi kesalahan pada server",
              confirmButtonText: "OK",
            });
          }
        });
    </script>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      const userId = "<%= pengguna.userId %>";
      socket.on("connect", () => {
        console.log("Connected to server");
        socket.emit("join", userId);
      });

      socket.on("kegiatan_setuju", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("berita_disetujui", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("berita_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      socket.on("kegiatan_ditolak", (data) => {
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        } else if (type === "berita") {
          notification.innerHTML = `<strong>${data.message}</strong>`;
        }

        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notification.classList.add("notification-fade-out");
          setTimeout(() => {
            notificationContainer.removeChild(notification);
          }, 300);
        }, 5000);
      }
    </script>
  </body>
</html>
