<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dashboard Admin FTI</title>
  </head>
  <body>
    <%- include('../komponen/sidebar');%>
    <section class="home">
      <div class="header">
        <div class="text">Dashboard</div>
        <div class="notification-icon">
          <i class="bx bx-bell" onclick="toggleDropdown()"></i>
          <div id="notificationDropdown" class="dropdown-content">
            <h1>Notifikasi</h1>
            <hr />
            <% if (notif.length > 0 ) { %> <% notif.forEach((notif) => { %>
            <div class="isian">
              <h3 class="judul">
                <%= notif.judul %> <span><%= formatDate(notif.tanggal) %></span>
              </h3>
              <p class="isi"><%= notif.isi %></p>
              <hr />
            </div>
            <% }) %> <% } else { %>
            <p>Tidak ada notifikasi</p>
            <% } %>
          </div>
        </div>
      </div>
      <div class="box-container">
        <div class="box">
          <div class="isian">
            <h3>Pengajuan Organisasi</h3>
            <canvas id="organisasiChart"></canvas>
          </div>
        </div>
        <div class="box">
          <div class="isian">
            <h3>Pengajuan Kegiatan</h3>
            <canvas id="kegiatanChart"></canvas>
          </div>
        </div>
        <div class="box">
          <div class="isian">
            <h3>Pengajuan Publikasi</h3>
            <canvas id="publikasiChart"></canvas>
          </div>
        </div>
        <div class="box">
          <div class="isian">
            <h3>Jumlah Pengguna</h3>
            <canvas id="penggunaChart"></canvas>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="chart-container">
          <h3>Grafik Perbandingan Jumlah Pengajuan</h3>
          <canvas id="statsChart"></canvas>
        </div>
      </div>
    </section>
    <script>
      function toggleDropdown() {
        const dropdown = document.getElementById("notificationDropdown");
        if (dropdown) {
          console.log("Dropdown found, toggling visibility");
          dropdown.classList.toggle("show");
        } else {
          console.log("Dropdown not found");
        }
      }

      window.onclick = function (event) {
        if (!event.target.matches(".bx-bell")) {
          const dropdowns = document.getElementsByClassName("dropdown-content");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var ctxOrg = document.getElementById('organisasiChart').getContext('2d');
        var organisasiChart = new Chart(ctxOrg, {
          type: 'pie',
          data: {
            labels: ['Disetujui', 'Ditolak'],
            datasets: [{
              label: 'Pengajuan Organisasi',
              data: [<%= orga.filter(org => org.status === 'Y').length %>, <%= orga.filter(org => org.status === 'N').length %>],
              backgroundColor: ['#36a2eb', '#ff6384'],
            }]
          },
          options: {
            responsive: true,
          }
        });

        var ctxKgt = document.getElementById('kegiatanChart').getContext('2d');
        var kegiatanChart = new Chart(ctxKgt, {
          type: 'pie',
          data: {
            labels: ['Disetujui', 'Ditolak'],
            datasets: [{
              label: 'Pengajuan Kegiatan',
              data: [<%= kegiatan.filter(keg => keg.status === 'Y').length %>, <%= kegiatan.filter(keg => keg.status === 'N').length %>],
              backgroundColor: ['#36a2eb', '#ff6384'],
            }]
          },
          options: {
            responsive: true,
          }
        });

        var ctxPub = document.getElementById('publikasiChart').getContext('2d');
        var publikasiChart = new Chart(ctxPub, {
          type: 'pie',
          data: {
            labels: ['Disetujui', 'Ditolak'],
            datasets: [{
              label: 'Pengajuan Publikasi',
              data: [<%= brt.filter(brta => brta.status === 'Y').length %>, <%= brt.filter(brta => brta.status === 'N').length %>],
              backgroundColor: ['#36a2eb', '#ff6384'],
            }]
          },
          options: {
            responsive: true,
          }
        });

        var ctxUsr = document.getElementById('penggunaChart').getContext('2d');
        var penggunaChart = new Chart(ctxUsr, {
          type: 'pie',
          data: {
            labels: ['Mahasiswa', 'Admin Organisasi'],
            datasets: [{
              label: 'Jumlah Pengguna',
              data: [<%= user.filter(users => users.role === 'mhs').length %>, <%= user.filter(users => users.role === 'adminorg').length %>],
              backgroundColor: ['#36a2eb', '#ff6384'],
            }]
          },
          options: {
            responsive: true,
          }
        });
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const organizationsCount = <%= JSON.stringify(orgas) %>;
        const activitiesCount = <%= JSON.stringify(kegiatans) %>;
        const beritaCount = <%= JSON.stringify(beritas) %>;

        const ctx = document.getElementById('statsChart').getContext('2d');
        const statsChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Organisasi', 'Kegiatan', 'Publikasi'],
            datasets: [{
              label: 'Jumlah Pengajuan Organisasi, Kegiatan, dan Publikasi Informasi',
              data: [organizationsCount, activitiesCount, beritaCount],
              backgroundColor: [
                'rgba(107, 181, 255, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 151, 205, 0.2)'

              ],
              borderColor: [
                'rgba(107, 181, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 151, 205, 1)'
              ],
              borderWidth: 2
            }]
          },
          options: {
            indexAxis: 'y',
            maintainAspectRatio: false,
            scales: {
              x: {
                beginAtZero: true
              }
            }
          }
        });
      });
    </script>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");

      socket.on("connect", () => {
        console.log("Connected to Admin FTI");
        socket.emit("joinRoom", "adminfti");
      });

      socket.on("new_kegiatan", (data) => {
        console.log(data);
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_kegiatanMhs", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_organisasi", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "orga");
      });

      socket.on("new_berita", (data) => {
        console.log(data);
        console.log("Notifikasi baru:", data);
        showNotification(data, "berita");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.kegiatan.namaKegiatan} oleh ${data.kegiatan.nama}</p>
    `;
        } else if (type === "orga") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.orga.namaOrga} oleh ${data.orga.nama}</p>
    `;
        } else if (type === "berita") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.berita.judul} oleh ${data.berita.nama}</p>
    `;
        }
        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notificationContainer.removeChild(notification);
        }, 5000);
      }
    </script>
  </body>
</html>
