<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Detail Laporan - <%= kegiatan.namaKegiatan %></title>
  </head>
  <body>
    <%- include('../komponen/sidebar');%>
    <section class="detail-laporan">
      <h2 class="judul">Detail Laporan</h2>

      <div class="containert">
        <div class="box">
          <label for="namaKegiatan"
            >Nama Kegiatan: <span><%= kegiatan.namaKegiatan %></span></label
          >
          <label for="tanggalMulai"
            >Tanggal Mulai:
            <span><%= formatDate(kegiatan.tanggalMulai) %></span></label
          >
          <label for="tanggalSelesai"
            >Tanggal Selesai:
            <span><%= formatDate(kegiatan.tanggalSelesai) %></span></label
          >
          <label for="penyelenggara"
            >Pelaksana:
            <span
              ><% if (kegiatan.penyelenggara === "P") { %> Pribadi <% } else if
              (kegiatan.penyelenggara === "O") { %> Organisasi <% } %></span
            ></label
          >
          <label for="jumlahPeserta"
            >Jumlah Partisipan:
            <span><%= kegiatan.jumlahPeserta %></span></label
          >
          <label for="laporanKegiatan"
            >File Laporan:
            <span
              ><a
                href="/<%= kegiatan.userId %>/<%= kegiatan.laporanKegiatan %>"
                target="_blank"
              >
                <button>Preview Laporan</button>
              </a></span
            ></label
          >

          <label for="dokumentasi"
            >Dokumentasi:
            <span>
              <img src="/<%= kegiatan.userId %>/<%= kegiatan.dok1 %>" />
              <img src="/<%= kegiatan.userId %>/<%= kegiatan.dok2 %>" />
              <img src="/<%= kegiatan.userId %>/<%= kegiatan.dok3 %>" /></span
          ></label>
        </div>
      </div>
    </section>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");

      socket.on("connect", () => {
        console.log("Connected to Admin FTI");
        socket.emit("joinRoom", "adminfti");
      });

      socket.on("new_kegiatan", (data) => {
        console.log(data);
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_kegiatanMhs", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_organisasi", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "orga");
      });

      socket.on("new_berita", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "berita");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.kegiatan.namaKegiatan} oleh ${data.kegiatan.nama}</p>
    `;
        } else if (type === "orga") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.orga.namaOrga} oleh ${data.orga.nama}</p>
    `;
        } else if (type === "berita") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.berita.judul} oleh ${data.berita.nama}</p>
    `;
        }
        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notificationContainer.removeChild(notification);
        }, 5000);
      }
    </script>
  </body>
</html>
