<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Laporan Kegiatan</title>
  </head>
  <body class="kgt">
    <%- include('../komponen/sidebar');%>
    <section class="kegiatan">
      <div class="header">
        <div class="text">Laporan Kegiatan</div>
        <div class="notification-icon">
          <i class="bx bx-bell" onclick="toggleDropdown()"></i>
          <div id="notificationDropdown" class="dropdown-content">
            <h1>Notifikasi</h1>
            <hr />
            <% if (notif.length > 0 ) { %> <% notif.forEach((notif) => { %>
            <div class="isian">
              <h3 class="judul">
                <%= notif.judul %> <span><%= formatDate(notif.tanggal) %></span>
              </h3>
              <p class="isi"><%= notif.isi %></p>
              <hr />
            </div>
            <% }) %> <% } else { %>
            <p>Tidak ada notifikasi</p>
            <% } %>
          </div>
        </div>
      </div>
      <div class="list-kegiatan">
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama Kegiatan</th>
                <th>Lingkup Kegiatan</th>
                <th>Pelaksana</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% kegiatan.forEach((kegiatan, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= kegiatan.namaKegiatan %></td>
                <td><%= kegiatan.lingkupKegiatan %></td>
                <td>
                  <% if (kegiatan.penyelenggara === "P") { %> Pribadi <% } else
                  if (kegiatan.penyelenggara === "O") { %> Organisasi <% } %>
                </td>
                <td>
                  <% if (!kegiatan.laporanKegiatan){%> Belum ada laporan <% }
                  else { %>
                  <a
                    href="detaillaporan/<%= kegiatan.idKegiatan %>"
                    class="action-button-detail"
                    ><i class="bx bxs-book-alt"></i> Detail</a
                  >
                  <% } %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <script>
      function toggleDropdown() {
        const dropdown = document.getElementById("notificationDropdown");
        if (dropdown) {
          console.log("Dropdown found, toggling visibility");
          dropdown.classList.toggle("show");
        } else {
          console.log("Dropdown not found");
        }
      }

      window.onclick = function (event) {
        if (!event.target.matches(".bx-bell")) {
          const dropdowns = document.getElementsByClassName("dropdown-content");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");

      socket.on("connect", () => {
        console.log("Connected to Admin FTI");
        socket.emit("joinRoom", "adminfti");
      });

      socket.on("new_kegiatan", (data) => {
        console.log(data);
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_kegiatanMhs", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_organisasi", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "orga");
      });

      socket.on("new_berita", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "berita");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.kegiatan.namaKegiatan} oleh ${data.kegiatan.nama}</p>
    `;
        } else if (type === "orga") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.orga.namaOrga} oleh ${data.orga.nama}</p>
    `;
        } else if (type === "berita") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.berita.judul} oleh ${data.berita.nama}</p>
    `;
        }
        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notificationContainer.removeChild(notification);
        }, 5000);
      }
    </script>
  </body>
</html>
