<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Berita</title>
  </head>
  <body class="news">
    <%- include('../komponen/sidebar');%>
    <section class="berita">
      <div class="header">
        <div class="text">Informasi</div>
        <div class="notification-icon">
          <i class="bx bx-bell" onclick="toggleDropdown()"></i>
          <div id="notificationDropdown" class="dropdown-content">
            <h1>Notifikasi</h1>
            <hr />
            <% if (notif.length > 0 ) { %> <% notif.forEach((notif) => { %>
            <div class="isian">
              <h3 class="judul">
                <%= notif.judul %> <span><%= formatDate(notif.tanggal) %></span>
              </h3>
              <p class="isi"><%= notif.isi %></p>
              <hr />
            </div>
            <% }) %> <% } else { %>
            <p>Tidak ada notifikasi</p>
            <% } %>
          </div>
        </div>
      </div>
      <div class="informasi">
        <div class="table">
          <div class="button-container">
            <a href="tambahNews" class="add-button-link">
              <button class="add-button">
                <i class="bx bx-plus"></i>Tambah
              </button></a
            >
          </div>
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Judul</th>
                <th>Gambar</th>
                <th>Kategori</th>
                <th>Tanggal Pengajuan</th>
                <th>Penulis</th>
                <th>Status</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% beritas.forEach((berita, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= berita.judul %></td>
                <td>
                  <img
                    style="width: 100px; height: 100px"
                    src="/<%= berita.userId %>/<%= berita.gambar %>"
                  />
                </td>
                <td><%= berita.Kategori.namaKategori %></td>
                <td><%= formatDate(berita.tanggalPengajuan) %></td>
                <td><%= berita.penulis %></td>
                <td>
                  <% if (berita.status === "Y") { %> Disetujui <% } else if
                  (berita.status === "P") { %> Pending <% } else if
                  (berita.status === "N") { %> Ditolak <% } %>
                </td>
                <td>
                  <div class="action-buttons">
                    <a
                      href="/editNews/<%= berita.idNews %>"
                      class="action-button-edit"
                      >Edit</a
                    >
                    <form
                      action="/deletenews/<%= berita.idNews %>/delete"
                      method="post"
                    >
                      <button class="action-button-hapus" type="submit">
                        Hapus
                      </button>
                    </form>
                    <% if (berita.status === "P") { %>
                    <form
                      action="/accBerita/<%= berita.idNews %>"
                      method="post"
                    >
                      <button class="action-button-acc" type="submit">
                        Setuju
                      </button>
                    </form>
                    <form
                      action="/tolakBerita/<%= berita.idNews %>"
                      method="post"
                    >
                      <button class="action-button-tolak" type="submit">
                        Tolak
                      </button>
                    </form>
                    <% } %>
                    <a
                      href="detailberita/<%= berita.idNews %>"
                      class="action-button-detail"
                      >Detail</a
                    >
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <script>
      function toggleDropdown() {
        const dropdown = document.getElementById("notificationDropdown");
        if (dropdown) {
          console.log("Dropdown found, toggling visibility");
          dropdown.classList.toggle("show");
        } else {
          console.log("Dropdown not found");
        }
      }

      window.onclick = function (event) {
        if (!event.target.matches(".bx-bell")) {
          const dropdowns = document.getElementsByClassName("dropdown-content");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      const socket = io("http://localhost:3000");

      socket.on("connect", () => {
        console.log("Connected to Admin FTI");
        socket.emit("joinRoom", "adminfti");
      });

      socket.on("new_kegiatan", (data) => {
        console.log(data);
        console.log("Notifikasi baru:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_kegiatanMhs", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "kegiatan");
      });

      socket.on("new_organisasi", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "orga");
      });

      socket.on("new_berita", (data) => {
        console.log(data);
        console.log("Notifikasi baru dari Mahasiswa:", data);
        showNotification(data, "berita");
      });

      function showNotification(data, type) {
        const notificationContainer = document.getElementById(
          "notification-container"
        );
        const notification = document.createElement("div");
        notification.className = "notification";
        if (type === "kegiatan") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.kegiatan.namaKegiatan} oleh ${data.kegiatan.nama}</p>
    `;
        } else if (type === "orga") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.orga.namaOrga} oleh ${data.orga.nama}</p>
    `;
        } else if (type === "berita") {
          notification.innerHTML = `
      <strong>${data.message}</strong>
      <p>${data.berita.judul} oleh ${data.berita.nama}</p>
    `;
        }
        notificationContainer.appendChild(notification);

        setTimeout(() => {
          notificationContainer.removeChild(notification);
        }, 5000);
      }
    </script>
  </body>
</html>
