<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/admfti.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Berita</title>
  </head>
  <body class="news">
    <%- include('../komponen/sidebar');%>
    <section class="berita">
      <div class="header">
        <div class="text">Informasi</div>
        <div class="notification-icon">
          <i class="bx bx-bell"></i>
        </div>
      </div>
      <div class="informasi">
        <div class="table">
          <div class="button-container">
            <a href="tambahNews" class="add-button-link">
              <button class="add-button">
                <i class="bx bx-plus"></i>Tambah
              </button></a
            >
          </div>
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Judul</th>
                <th>Gambar</th>
                <th>Kategori</th>
                <th>Tanggal Pengajuan</th>
                <th>Penulis</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% beritas.forEach((berita, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= berita.judul %></td>
                <td>
                  <img
                    style="width: 100px; height: 100px"
                    src="/<%= beritas.userId %>/<%= berita.gambar %>"
                  />
                </td>
                <td><%= berita.Kategori.namaKategori %></td>
                <td><%= berita.tanggalPengajuan %></td>
                <td><%= berita.penulis %></td>
                <td>
                  <div class="action-buttons">
                    <a
                      href="/editNews/<%= berita.idNews %>"
                      class="action-button-edit"
                      >Edit</a
                    >
                    <form
                      action="/deletenews/<%= berita.idNews %>/delete"
                      method="post"
                    >
                      <button class="action-button-hapus" type="submit">
                        Hapus
                      </button>
                    </form>
                    <a href="detailNews" class="action-button-detail">Detail</a>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!-- Kontainer untuk notifikasi -->
    <div id="notification-container" class="notification-container"></div>

    <!-- Menyertakan script untuk socket.io -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <!-- Menyertakan script notifikasi -->
    <script src="/js/notifFti.js"></script>
  </body>
</html>
